<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <style>
        input.ng-invalid {
            background-color: lightblue;
        }
    </style>
    <script>
        var time = new Date();
        document.write(time);
    </script>
</head>
<body>
    <!--<div ng-app="myApp" ng-controller="myCtrl">
        姓名：<input type="text" ng-model="name" />   <br />
        密码：<input type="text" ng-model="pwd" />
        <p>{{name+":"+pwd}}</p>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.name = "fdsfd";
            $scope.pwd = "123";
        })
    </script>-->
    <!--<form ng-app="" name="myForm">
        邮箱：<input type="email" name="email" ng-model="text" />
        <span ng-show="myForm.email.$error.email">不合格</span>
    </form>-->
    <!--<form ng-app="" name="myName">
        名称：<input name="myName" ng-model="name" required />
    </form>-->

</body>
</html>
