<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <!--<div ng-app="">
        <p>名字：<input type="text" ng-model="name" /></p>
        <h1>hello!{{name}}</h1>
    </div>-->
    <!--<div data-ng-app="" data-ng-init="firstName='FDFDSFDSFD'">
        <p>姓名为：<span data-ng-bind="firstName"></span></p>
    </div>-->
    <!--<div ng-app="">
        <p>我的第一个表达式{{6 + 6}}</p>
    </div>-->
    <!--<div ng-app="myAPP" ng-controller="myCTRL">
        姓名：<input type="text" ng-model="name" />  <br />
        年龄： <input type="text" ng-model="pwd" />
        <br />
           {{name+":"+pwd}}
    </div>

    <script>
        var res = angular.module('myAPP', []);
        res.controller('myCTRL', function ($scope) {
            $scope.name = "张三";
            $scope.pwd = "43";
        })
    </script>-->
    <!--<div ng-app="" ng-init="a=12;b=4">-->
    <!--<p>总价：{{a*b}}</p>-->
    <!--<p><span ng-bind="a*b"></span></p>-->
    <!--</div>-->
    <!--<div ng-app="" ng-init="per={a:'fd',b:'wew'}">-->
    <!--<p>{{per.b}}</p>-->
    <!--<p><span ng-bind="per.a"></span></p>
    </div>-->
    <!--<div ng-app="" ng-init="arr=[2,3,4,23,56]">
        <p>{{arr[2]}}</p>
    </div>-->
    <!--<div ng-app="" ng-init="a=2;b=4">
        <p>计算器</p>
        <input type="number" ng-model="a" />
        <input type="number" ng-model="b" />
        <p>总价：{{a*b}}</p>
    </div>-->
    <!--循环-->
    <!--<div ng-app="" ng-init="names=['1','2','3']">
        <ul>
            <li ng-repeat=" x in names">
                {{x}}
            </li>
        </ul>
    </div>-->


</body>
</html>
