body
{
	text-align: center;
	
	background-color: White;
	
	font-family: 宋体;
	font-size: 13px;
}

.divleft
{
	width: 63%;
	float: left;
	height: 150px;
	border-right: solid 1px #c3c1c2;
}

.divright
{
	width: 35%;
	float: left;
	margin-top:8px;
	margin-left:8px;
	height: 150px;
	border: none;
}

.tdNoBorder
{
	border: none;
}

.th
{
	border: ridge 1px #c5f5ff;
	background-color: #88c9e9;
	height: 24px;
}

.divtable
{
	width: 98%;
	height: 120px;
	border: solid 1px #8ab8cf;
	margin-left: 4px;
}

.tdTimes
{
	height: 28px;
}
