<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ValidateHost" value=".-103.250.226.108-192.168.100.140" />
    <add key="AuthUrl" value="~/Account/Login" />
    <add key="AuthSaveKey" value="LoginedUser" />
    <add key="AuthSaveType" value="Session" />
    <add key="upload" value="D:\data\bjoiyjy" />
    <add key="UPStoin" value="D:\data\rkdlc" />
    <add key="工程立项" value="BGOI_Project/tk_Approval/tk_ProjectBas/PID/3/2/tk_SPIDno/-1/tk_UserLog" />
    <add key="准入评审" value="BGOI_BasMan/tk_SApproval/tk_SupplierBas/SID/8/2/tk_PID/-1/tk_UserLog" />
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="3889;True;508;1;-8587554248358629857" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
  </appSettings>
  <connectionStrings>
    <!--<add name="MainProduce" connectionString="Data Source=192.168.3.11;Initial Catalog=BGOI_Produce;User ID=sa;Password=Yanjiuyuan123" providerName="System.Data.SqlClient" />
    <add name="FlowMeterDBCnn" connectionString="Data Source=192.168.3.11;Initial Catalog=BGOI_FlowMeter;User ID=sa;Password=Yanjiuyuan123" providerName="System.Data.SqlClient" />
    <add name="MainDBCnn" connectionString="Data Source=192.168.3.11;Initial Catalog=BGOI_JCSJS;User ID=sa;Password=Yanjiuyuan123" providerName="System.Data.SqlClient" />
    <add name="MainProject" connectionString="Data Source=192.168.3.11;Initial Catalog=BGOI_Project;User ID=sa;Password=Yanjiuyuan123" providerName="System.Data.SqlClient" />
    <add name="MainInventory" connectionString="Data Source=192.168.3.11;Initial Catalog=BGOI_Inventory;User ID=sa;Password=Yanjiuyuan123" providerName="System.Data.SqlClient" />
    <add name="MainPP" connectionString="Data Source=192.168.3.11;Initial Catalog=BGOI_PP;User ID=sa;Password=Yanjiuyuan123" providerName="System.Data.SqlClient" />
    <add name="SalesDBCnn" connectionString="Data Source=192.168.3.11;Initial Catalog=BGOI_Sales;User ID=sa;Password=Yanjiuyuan123" providerName="System.Data.SqlClient" />
    <add name="AccountCnn" connectionString="Data Source=192.168.3.11;Initial Catalog=BJOI_UM;User ID=sa;Password=Yanjiuyuan123" providerName="System.Data.SqlClient" />
    <add name="SupplyCnn" connectionString="Data Source=192.168.3.11;Initial Catalog=BGOI_BasMan;User ID=sa;Password=Yanjiuyuan123" providerName="System.Data.SqlClient" />
    <add name="MainKAT" connectionString="Data Source=192.168.3.11;Initial Catalog=BGOI_KAT;User ID=sa;Password=Yanjiuyuan123" providerName="System.Data.SqlClient" />
    <add name="MainCustomer" connectionString="Data Source=192.168.3.11;Initial Catalog=BGOI_CustomerService;User ID=sa;Password=Yanjiuyuan123" providerName="System.Data.SqlClient" />-->

    <!--<add name="SupplyCnn" connectionString="Data Source=.;Initial Catalog=BGOI_BasMan;User ID=sa;Password=123456789" providerName="System.Data.SqlClient" />
    <add name="AccountCnn" connectionString="Data Source=.;Initial Catalog=BJOI_UM;User ID=sa;Password=123456789" providerName="System.Data.SqlClient" />
    <add name="MainDBCnn" connectionString="Data Source=.;Initial Catalog=BGOI_JCSJS;User ID=sa;Password=123456789" providerName="System.Data.SqlClient" />
    <add name="MainProduce" connectionString="Data Source=.;Initial Catalog=BGOI_Produce;User ID=sa;Password=123456789" providerName="System.Data.SqlClient" />
    <add name="FlowMeterDBCnn" connectionString="Data Source=.;Initial Catalog=BGOI_FlowMeter;User ID=sa;Password=123456789" providerName="System.Data.SqlClient" />
    <add name="MainProject" connectionString="Data Source=.;Initial Catalog=BGOI_Project;User ID=sa;Password=123456789" providerName="System.Data.SqlClient" />
    <add name="MainInventory" connectionString="Data Source=.;Initial Catalog=BGOI_Inventory;User ID=sa;Password=123456789" providerName="System.Data.SqlClient" />
    <add name="MainPP" connectionString="Data Source=.;Initial Catalog=BGOI_PP;User ID=sa;Password=123456789" providerName="System.Data.SqlClient" />
    <add name="SalesDBCnn" connectionString="Data Source=.;Initial Catalog=BGOI_Sales;User ID=sa;Password=123456789" providerName="System.Data.SqlClient" />
    <add name="MainKAT" connectionString="Data Source=.;Initial Catalog=BGOI_KAT;User ID=sa;Password=123456789" providerName="System.Data.SqlClient" />
    <add name="MainCustomer" connectionString="Data Source=.;Initial Catalog=BGOI_CustomerService;User ID=sa;Password=123456789" providerName="System.Data.SqlClient" />-->

     <add name="SupplyCnn" connectionString="Data Source=192.168.100.207;Initial Catalog=BGOI_BasMan;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="AccountCnn" connectionString="Data Source=192.168.100.207;Initial Catalog=BJOI_UM;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainDBCnn" connectionString="Data Source=192.168.100.207;Initial Catalog=BGOI_JCSJS;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainProduce" connectionString="Data Source=192.168.100.207;Initial Catalog=BGOI_Produce;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="FlowMeterDBCnn" connectionString="Data Source=192.168.100.207;Initial Catalog=BGOI_FlowMeter;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainProject" connectionString="Data Source=192.168.100.207;Initial Catalog=BGOI_Project;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainInventory" connectionString="Data Source=192.168.100.207;Initial Catalog=BGOI_Inventory;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainPP" connectionString="Data Source=192.168.100.207;Initial Catalog=BGOI_PP;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="SalesDBCnn" connectionString="Data Source=192.168.100.207;Initial Catalog=BGOI_Sales;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainKAT" connectionString="Data Source=192.168.100.207;Initial Catalog=BGOI_KAT;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainCustomer" connectionString="Data Source=192.168.100.207;Initial Catalog=BGOI_CustomerService;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />

    <!--<add name="SupplyCnn" connectionString="Data Source=.;Initial Catalog=BGOI_BasMan;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="AccountCnn" connectionString="Data Source=.;Initial Catalog=BJOI_UM;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainDBCnn" connectionString="Data Source=.;Initial Catalog=BGOI_JCSJS;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainProduce" connectionString="Data Source=.;Initial Catalog=BGOI_Produce;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="FlowMeterDBCnn" connectionString="Data Source=.;Initial Catalog=BGOI_FlowMeter;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainProject" connectionString="Data Source=.;Initial Catalog=BGOI_Project;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainInventory" connectionString="Data Source=.;Initial Catalog=BGOI_Inventory;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainPP" connectionString="Data Source=.;Initial Catalog=BGOI_PP;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="SalesDBCnn" connectionString="Data Source=.;Initial Catalog=BGOI_Sales;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainKAT" connectionString="Data Source=.;Initial Catalog=BGOI_KAT;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />
    <add name="MainCustomer" connectionString="Data Source=.;Initial Catalog=BGOI_CustomerService;User ID=sa;Password=Tecocity0" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <system.web>
    <httpRuntime  targetFramework="4.5"  maxRequestLength="1048576" executionTimeout="3600"/>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off"/>
    <identity impersonate="true"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages >
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>